@import "variables";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	width: 232px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 75%;
	color: #888;
	text-rendering: optimizeLegibility;
	border: 2px solid $main;
	transition: border-color .2s;

	&.greyed {
		border-color: $greyed;
	}
}

h1 {
	font: {
		size: 2.25em;
		weight: 300;
	}
	letter-spacing: 1px;
	line-height: 1.8;
	color: #eee;
	text-align: center;
	background-color: $main;
	display: block;
	padding: 0;
	margin: 0;
	transition: background-color .2s;

	&.greyed {
		background-color: $greyed;
	}
}

.container {
	padding: 6px 4px 0;
}

label {
	display: block;
	width: 100%;
	text-align: left;
	margin: 6px 0;
	overflow: hidden;

	/*
	span {
		float: left;
		display: inline-block;
		font-weight: bold;
		margin-right: 0;
		padding-top: 4px;
		width: 136px;
	}
	*/
}

input {
	width: 66px;
	padding: 4px 8px;
	border: 1px solid #ddd;
	box-shadow: none;
}

.clear {
	clear: both;
}

.sep {
	height: 6px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 6px;
}

.bsdef {
	span {
		display: inline-block;
		float: left;
		font-size: normal;
		line-height: 21px;
		margin-left: 6px;

		&.onoff_cap {
			color: #fff;
		}
	}
	.manualswitch {
		float: left;
		margin: 0;
	}
}

.man_table { display: none; }

table {
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;

	th {
		width: 99%;
		text-align: left;
		font-weight: normal;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 21px;
	margin: 2px 0 0 2px;
	border-radius: 99em;
	cursor: pointer;
	box-shadow: inset 0 0 3px #333;
	background-color: $switchoff;
	transition: background-color .1s;
	overflow: hidden;
	
	.btn {
		position: absolute;
		left: 0;
		top: 2px;
		margin-left: 2px;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: white;
		box-shadow: 0 0 3px white;
		transition: margin-left .1s;
	}

	&.enabled {
		background-color: $switchon;

		&.greyed {
			background-color: $switchon-greyed;
		}

		.btn {
			margin-left: 17px;
		}
	}
}

.btn-container {
	display: inline-block;
	float: left;
	margin: 9px 0 0;
	width: 50%;
	text-align: left;
	padding: 12px 2px 0;
	min-height: 48px;
	background-color: $main;
	transition: background-color .2s;

	&.greyed {
		background-color: $greyed;
	}

	&.right { text-align: right; padding-top: 9px; }
	
	span {
		display: inline-block;
		float: left;
		font-size: normal;
		line-height: 21px;
		margin: 2px 0 0 6px;
		color: #fff;
	}

	.onoffswitch {
		float: left;
	}

	button {
		display: inline-block;
		min-width: 84px;
		text-align: center;
		padding: 6px;
		margin: 3px 5px 0 0;
		border-radius: 4px;
		background-color: #f9f9f9;
		color: $main;
		border: none;
		outline: none;
		box-shadow: none;
		cursor: pointer;
		transition: color .2s;

		&.greyed {
			color: $greyed;
		}
	}
}
