@import "variables";

/* Main settings */
* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
	font: {
		family: 'Roboto', sans-serif;
		size: 1rem;
		weight: 300;
	}
	text-rendering: optimizeLegibility;
	line-height: 1.5rem;
	color: $text-color;
	min-width: 750px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-weight: 300;
	letter-spacing: .05em;
}

h1 {
	font-size: 3rem;
	line-height: 4.5rem;
	padding: .75rem 0;
	color: $main;

	small {
		display: block;
		font-weight: 300;
		font-size: 1.5rem;
		padding: 0;
		line-height: 1.4rem;
		letter-spacing: .05em;
		font-variant: small-caps;
	}
}

h2 {
	font-size: 2rem;
	line-height: 3rem;
	color: $main;
}

@media (max-width: 991px) {
	h2 {
		font-size: 1.75rem;
	}
}


p {
	padding: .75rem 0;
	margin: 0;
}

strong {
	font-weight: 400;
}

/**
 * HEADER SECTION
 */
.header {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 39rem;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/header-bg.png);

	.container, .row, .col-xs-12 { height: 100%; }

	.social-bar {
		position: absolute;
		width: 100%;
		bottom: 0;
		background-color: $light;

		ul {
			display: block;

			li {
				float: left;
				padding-right: 1.5rem;
				font-size: 2rem;
				transition: all 1s;

				a {
					line-height: 4.5rem;

					.fa {
						color: $grey-light;
						transition: all .5s;
					}
				}

				&:hover {
					a {
						text-shadow: 0 0 .5rem $grey-shadow;

						.fa-facebook {
							color: $face;
						}
						.fa-twitter {
							color: $twitter;
						}
						.fa-google-plus {
							color: $gplus;
						}
					}
				}
			}
		}

		.bar {
			display: none;
			position: relative;
			float: left;
			font-size: 2rem;
			line-height: 4.5rem;
			letter-spacing: .05em;

			img {
				margin-top: -.5rem;
			}

			.gbuilder {
				opacity: 0;
			}
		}
	}

	&.fixed {
		position: fixed;
		z-index: 99;

		.social-bar {
			box-shadow: 0 1px .5rem $grey-shadow-trans;
		}
	}
	
	.logo {
		display: block;
		position: absolute;
		bottom: 30rem;
		height: 4.5rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url(../images/icon128.png);
		padding-left: 4.75rem;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: .05em;
		line-height: 4.25rem;
		overflow: hidden;
		color: $text-color;
		text-shadow: 1px 1px 1px $grey-shadow;
		text-transform: uppercase;
	}

	.chrome-screen {
		position: absolute;
		bottom: 4.5rem;
		left: 0;
		right: 0;

		img {
			width: 100%;
		}
	}
}

.scroll-point-fixer {
	position: relative;
	height: 0;
	border-bottom: 1px solid $grey-shadow * 1.175;
	margin-top: 39rem;
}

/*
 * ARTICLE
 */
article {
	margin: 2.25rem 0;

	.download-btn {
		display: inline-block;
		border-radius: .5rem;
		padding: 0 .75rem 0 4rem;
		margin: .75rem 0;
		line-height: 3rem;
		font-size: 1.25rem;
		background-color: $main;
		color: $light;
		text-decoration: none;
		transition: background-color .2s, color .2s;

		&:hover {
			background-color: transparent;
			color: $main;
			box-shadow: 0 0 3px $main;
		}

		&:before {
			font-family: 'FontAwesome';
			content: '\f0ed';
			position: absolute;
			margin-left: -3rem;
			margin-top: .0625rem;
			font-size: 2.25rem;
			text-shadow: 0 0 1px $text-color * .5;
			color: $light;
		}
	}

	.detailed-info {
		position: relative;
		padding-top: 6rem;

		figure {
			position: absolute;
			margin-left: -2rem;
			transition: padding-top .4s, opacity .4s, margin-top .4s;
			opacity: 0;

			&.bsdef {
				top: 0;
				padding-top: 6rem;
				opacity: 0;
				z-index: 3;
				transition: padding-top .4s ease-out, opacity .4s, margin-top .4s;
			}
			&.manual {
				padding-top: 15rem;
				z-index: 2;
				transition: padding-top .4s .05s ease-out, opacity .4s, margin-top .4s;
			}
			&.off {
				padding-top: 21rem;
				z-index: 1;
				transition: padding-top .4s .1s ease-out, opacity .4s, margin-top .4s;
			}

			&.fixed {
				position: fixed;
			}

			&.inscr {
				opacity: 1;
				padding-top: 0;
			}

			&.transparent {
				opacity: 0;
				margin-top: -3rem;
			}
		}

		section {
			position: relative;
			z-index: 4;

			&.bsdef { padding: 1.5rem 0 7.5rem 23rem; }
			&.manual { padding: 6rem 0 4.5rem 23rem; }
			&.off { padding: 9rem 0 15rem 23rem; }

			p {
				padding-left: 4rem;
				margin-top: 1.5rem;
			}
		}
	}

	footer {
		padding-bottom: 13.5rem;
	}
}

/*
 * FOOTER
 */
.footer {
	background-color: $footer-bg;
	position: relative;
	color: $light;
	padding: 1.5rem 0 .75rem;
	
	.github {
		display: block;
		font-size: 1rem;
		line-height: 3rem;
		color: $light;
		text-decoration: none;

		i {
			float: left;
			margin-right: .75rem;
			font-size: 2rem;
			line-height: 3rem;
			color: $light;
			transition: color .4s;
		}

		&:hover i { color: $main; }
	}

	.bbelt {
		display: block;
		color: $light;
		text-decoration: none;
		font-size: .8rem;
		transition: color .4s;

		img {
			float: left;
			margin: 0 .9rem 0 .1rem;
		}

		&:hover { color: $main; }
	}

	h4 {
		font-size: 1rem;
		line-height: 3rem;
		color: $light;
	}

	p {
		margin-top: -.75rem;

		i {
			display: inline-block;
			margin-right: 1rem;
			font-size: 1.25rem;
			line-height: 1.5rem;
			color: $light;
			transition: color .4s;

			&:hover {
				&.fa-facebook {
					color: $face;
				}

				&.fa-twitter {
					color: $twitter;
				}
				
				&.fa-google-plus {
					color: $gplus;
				}
			}
		}
	}
}