$main: #30b3bf;
$light: #fcfcfc;
$white: #ffffff;
$grey-light: #cccccc;
$grey-shadow: #cccccc;
$grey-shadow-trans: rgba(204,204,204,.5);
$footer-bg: #101010;
$face: #3C599B;
$twitter: #29AAE3;
$gplus: #D6492F;

$text-color: #aaaaaa;